BucStop_APIGateway/APIGateway/obj/
/BucStop_GameSubmission/GameSubmission/.vs/GameSubmission/FileContentIndex
/.vs/Team_Aytche_BucStop/FileContentIndex
/BucStop_APIGateway/.vs/APIGateway/FileContentIndex
/BucStop_Webapp/.vs/BucStop/FileContentIndex
